@{
    ViewBag.Title = "ProcessingView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-6 processing">
        <h3>Improve your world now!</h3>
        <p class="text-muted">
            Click start button for beginning of calculation above. <br />
            You will become a little node in the great process. <br />
            Improve our world now!
        </p>
        <hr />
        <button id="btnAction" data-loading-text="Starting..." class="btn btn-success" type="submit">Start</button>
    </div>
</div>