JSDstr/JSDstr/obj/Debug/JSDstr.dll
JSDstr/JSDstr/obj/Debug/JSDstr.pdb
JSDstr/JSDstr/Web.config
JSDstr/JSDstrDB/JSDstrDB.dbmdl
JSDstr/JSDstr/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
JSDstr/JSDstr/obj/Debug/JSDstr.csproj.FileListAbsolute.txt
JSDstr/JSDstr/obj/Debug/JSDstr.csprojResolveAssemblyReference.cache
JSDstr/JSDstr/obj/Debug/JSDstr.dll
JSDstr/JSDstr/obj/Debug/JSDstr.pdb
