@{
    ViewBag.Title = Resources.Title_About;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@Resources.Header_About</h3>
<br/>

<div class="row">
    <div class="col-lg-8">
        @Html.Raw(Resources.Content_About)
        <hr />
        <p>
            <a class="btn btn-primary" href="/processing">@Resources.Link_AboutReadMore</a>
        </p>
    </div>
</div>