@{
    ViewBag.Title = Resources.AboutTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Resources.AboutHeader</h1>

@Resources.AboutContent

<p>
    <a class="btn btn-lg btn-primary" href="/processing">@Resources.AboutButton</a>
</p>