@{
    ViewBag.Title = Resources.Title_Home;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Resources.Header_Home</h1>

@Html.Raw(Resources.Content_Home)

<p>
    <a class="btn btn-primary" href="/about">@Resources.Link_HomeReadMore</a>
</p>