@{
    ViewBag.Title = @Resources.Title_PageWasNotFound;
}

<!DOCTYPE html>

<html>
    <head>
        <title>@Resources.Title_PageWasNotFound</title>
    </head>
    <body>
        <h3>
            @Resources.Header_PageWasNotFound
        </h3>
        <div>
            @Resources.Content_PageWasNotFound
        </div>
    </body>
</html>