@{
    ViewBag.Title = @Resources.Title_ServerError;
}

<!DOCTYPE html>
<html>
<head>
    <title>@Resources.Title_ServerError</title>
</head>
<body>
    <h3>
        @Resources.Header_ServerError
    </h3>
    <div>
        @Resources.Content_ServerError
    </div>
</body>
</html>