<div class="text-muted" id="statistics" style="display: none;">
    <h4>Statistics</h4>
    <div class="row">
        <div class="pull-left col-md-6">Calculation Started:</div><div id="lblCalculationCreatedDate" class="pull-right col-md-6"></div>
    </div>
    <div class="row">
        <div class="pull-left col-md-6">Vectors Count:</div><div id="lblCalculationVectorsCount" class="pull-right col-md-6"></div>
    </div>
    <div class="row">
        <div class="pull-left col-md-6">Clusters Count:</div><div id="lblCalculationClustersCount" class="pull-right col-md-6"></div>
    </div>
    <div class="row">
        <div class="pull-left col-md-6">State:</div><div id="lblCalculationState" class="pull-right col-md-6"></div>
    </div>
    <div class="row">
        <div class="pull-left col-md-6">Iteration:</div><div id="lblCalculationIteration" class="pull-right col-md-6"></div>
    </div>
    <div class="row">
        <div class="col-md-12"><span class="clearfix"></span><hr/></div>
    </div>
    <div class="row">
        <div class="pull-left col-md-6">Total Users:</div><div id="lblTotalUsersCount" class="pull-right col-md-6"></div>
    </div>
    <div class="row">
        <div class="pull-left col-md-6">Today Users:</div><div id="lblTodayOnlineUsersCount" class="pull-right col-md-6"></div>
    </div>
    <div class="row">
        <div class="pull-left col-md-6">Total Sessions:</div><div id="lblTotalSessionsCount" class="pull-right col-md-6"></div>
    </div>
    <div class="row">
        <div class="pull-left col-md-6">Today Sessions:</div><div id="lblTodaySessionsCount" class="pull-right col-md-6"></div>
    </div>
    <div class="row userStatistics">
        <div class="col-md-12"><span class="clearfix"></span><hr/></div>
    </div>
    <div class="row userStatistics">
        <div class="pull-left col-md-6 ">First Session:</div><div id="lblUserFirstSessionDate" class="pull-right col-md-6"></div>
    </div>
    <div class="row userStatistics">
        <div class="pull-left col-md-6 ">Last Session:</div><div id="lblUserLastSessionDate" class="pull-right col-md-6"></div>
    </div>
    <div class="row userStatistics">
        <div class="pull-left col-md-6">Total Sessions:</div><div id="lblUserTotalSessionCount" class="pull-right col-md-6"></div>
    </div>
    <div class="row userStatistics">
        <div class="pull-left col-md-6">Today Sessions:</div><div id="lblUserTodaySessionCount" class="pull-right col-md-6"></div>
    </div>
    <div class="row userStatistics">
        <div class="pull-left col-md-6">Total Data Processed:</div><div id="lblUserTotalDataProcessed" class="pull-right col-md-6"></div>
    </div>
    <div class="row userStatistics">
        <div class="pull-left col-md-6">Today Data Processed:</div><div id="lblUserTodayDataProcessed" class="pull-right col-md-6"></div>
    </div>
    <div class="row userStatistics">
        <div class="pull-left col-md-6">Average Processing Speed:</div><div id="lblUserAverageProcessingSpeed" class="pull-right col-md-6"></div>
    </div>
    <div class="row userStatistics">
        <div class="pull-left col-md-6">Max Processing Speed:</div><div id="lblUserMaxProcessingSpeed" class="pull-right col-md-6"></div>
    </div>
    <div class="row">
        <div class="col-md-12"><span class="clearfix"></span><hr/></div>
    </div>
    <div class="row">
        <div class="col-md-12"><div id="chartOnlineUsersCount" class="col-md-12 chart"></div></div>
    </div>
    <div class="row">
        <div class="col-md-12"><span class="clearfix"></span><hr/></div>
    </div>
    <div class="row">
        <div class="col-md-12"><div id="chartSessionsCount" class="col-md-12 chart"></div></div>
    </div>
    <div class="row">
        <div id="chartProductivity" class="col-md-12 chart"></div>
    </div>
</div>
